**/.venv/
**/__pycache__/

docker/whisper/models/*
docker/models/*
docker/qdrant_data/*
docker/lectures/audio/*
docker/lectures/transcripts/*

benchmarks/*

# Setuptools
**/dist/
**/build/
*.egg-info/
*.egg
*.whl
MANIFEST

.env
*.mp4
*.mp3
